/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    /* bassic setup  */
    .dropdown{
        display:none;
    }
    .led-img{
        display: none;
    }
    .menu{
        text-align: right;
    }
    /* end bassic setup  */
    /* start banner section  */
    .h1{
        font-size: 26px;
    }
    /* end banner section  */
      /*start retina section */
      .blog-content{
        text-align: center;
    }
    /* end retina section  */
    /* start team section  */
    .team-color-h1{
        font-size: 26px;
    }
    /* end team section  */
    /*start email section */
    .email{
        text-align: center;
    }
    /*end email section */
    .footer{
        text-align: center;
    }




    

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
     /* bassic setup  */
    .menu{
        text-align: right;
    }
    .dropdown-menu-custom {
        margin-top: 40px;
        left: 50px;
        min-width: 20rem;
    }
    /* bassic setup  */
    /* start banner section  */
    .h1{
        font-size: 32px;
    }
    /* end banner section  */
    /*start retina section */
    .blog-content{
        text-align: center;
    }
    /* end retina section  */
    /* start blog content  */
    .blog-content{
        margin-top: 30px;
    }
    .led-img{
        margin-top: 30px;
    }
    /* end blog content  */
    /* start team section  */
    .team-color-h1{
        font-size: 26px;
    }
    /* end team section  */





}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
     /* bassic setup  */
    .menu{
        text-align: right;
    }
    .dropdown-menu-custom {
        left: 202px;
        min-width: 24rem;
    }
    /* bassic setup  */
    /* start banner section  */
    .h1{
        font-size: 40px;
    }
    /* end banner section  */
    /* start blog content  */
    .led-img{
        margin-top: 50px;
    }
    /* end blog content  */







}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {





    

}
/*x-large devices (dekstops,1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {





    
}

/*Extra extra  large devices (larges desktops, 1200px and up)*/
@media (min-width: 1400px) {






}